.hamburger {
    width: 2.8125rem;
    height: 2.8125rem;
    flex-shrink: 0;
}

.inputText {
    margin: 0px auto;
    border-radius: 6.25rem;
    border: 1px solid var(--Sky-Light, #E3E5E5);
    background: var(--Sky-White, #FFF);

    color: var(--Ink-Lighter, #72777A);
    font-family: "GmarketSansTTFMedium";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

    position: fixed;
    bottom: 25px;
    width: 16.625rem;
    height: 3rem;

    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1000;
    margin-bottom: 1rem;
}

.line {
    display: flex;

    width: 30.75rem;
    height: 0.0625rem;
    flex-shrink: 0;
    right: 10px;

    /* background: var(--Sky-Lighter, #F2F4F5); */
    background: black;
    position: fixed; /* 화면에 고정 */
    bottom: 22rem; /* 화면의 하단에 위치 */
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 300px;
    height: 48rem;
    border: 1px solid #ccc;
    padding: 10px;
    /* flex-wrap: nowrap; */
    /* overflow-y: scroll; */
}

.chatBox {
    flex: 1;
    overflow-y: auto;
    display: flex;
    /* flex-direction: column-reverse; 최신 메시지를 아래로 배치 */
    flex-direction: column;
    /* overflow: hidden; */
}

.messageBox {
    display: inline-flex; /* 인라인 플렉스 박스 */
    padding: 0.75rem 1rem;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    /* border-radius: 50px; */
    border-radius: 20px;
    background: #6066D5;
    /* background: var(--Sky-Lighter, #F2F4F5); */
    align-self: flex-end; /* 박스가 좌측에 위치하도록 */
    max-width: 100%; /* 박스의 최대 너비를 부모 요소의 100%로 제한 */
    word-wrap: break-word; /* 단어가 길 경우 줄바꿈 */
    margin-top: 1rem;
}

.messageText {
    color: var(--Ink-Darkest, #FFF);
    font-family: "GmarketSansTTFMedium";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 125% */
}

.inputContainer {
    display: flex;
    margin-top: 10px;
}

/* ChatbotComponent.css 예시 */
.chat-container {
    display: flex;
    flex-direction: column;
}

.message {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    max-width: 60%;
}

.message.user {
    align-self: flex-end;
    background-color: #d1e7dd;
}

.message.server {
    align-self: flex-start;
    background-color: #f8d7da;
}
